


//Colors

$c-primary: #58e1c1;
$c-secondary: #51ddfc;


//Button Colors
$c-default: $c-secondary;
$c-success: #63cc82;
$c-error: #e4757a;
$c-warning: #fd7856;
$c-info: #927bc1;

//Grid Colors

$g-color-12: #80e8d1;
$g-color-6: #3fabca;
$g-color-4: #7ee6fd;
$g-color-3: #deb2ee;
$g-color-5: #88d9a0;
$g-color-7: #ec9fa3;
$g-color-8: #fd9f85;

