
/*
For Colors
*/

//Colors
$c-primary: #58e1c1;
$c-secondary: #51ddfc;

//Button Colors

$btn-color : (
	default: $c-secondary,
	success: #63cc82,
	error: #e4757a,
	warning: #fd7856,
	info: #927bc1
);

<<<<<<< HEAD

//Grid Colors
$g-color-3: #deb2ee;
$g-color-4: #7ee6fd;
$g-color-5: #88d9a0;
$g-color-6: #3fabca;
$g-color-7: #ec9fa3;
$g-color-8: #fd9f85;
$g-color-12: #80e8d1;


/*
For Grids
*/

//Grid
$g-col-width    : 65px;
$g-gutter-width : 20px;
$g-col-count    : 12;
$g-cont-max-w   : 1050px;
=======
$grid-colors: (
	default: $c-secondary,
	success: #63cc82,
	error: #e4757a,
	warning: #fd7856,
	info: #927bc1
);

//Breakpoints
$breakpnt-sm: 1px;
$breakpnt-md: 768px;
$breakpnt-lg: 1100px;



//Font Size
$base__font-size: 16px;
$base__line: 24px;
$letter-space: 1px;


//Font Weight
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;
$font-weight-ultra-bold: 900;
>>>>>>> 02db1f5f5fa813b906f58bde1020ef033f9d04e5
