


//Colors

$c-primary: #58e1c1;
$c-secondary: #51ddfc;


//Button Colors
$c-default: $c-secondary;
$c-success: #63cc82;
$c-error: #e4757a;
$c-warning: #fd7856;
$c-info: #927bc1;

//Grid Colors

$grid-colors: (
	default: $c-secondary,
	success: #63cc82,
	error: #e4757a,
	warning: #fd7856,
	info: #927bc1
);

//Breakpoints
$breakpnt-sm: 1px;
$breakpnt-md: 768px;
$breakpnt-lg: 1100px;



//Font Size
$base__font-size: 16px;
$base__line: 24px;
$letter-space: 1px;


//Font Weight
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 700;
$font-weight-ultra-bold: 900;
